body {
    background-image: url(record.png);
    background-repeat: repeat;
    margin: 0;
}

.intro {
    background-color: darkslateblue;
    color: bisque;
    text-align: center;
}

main {
    background-color: lightgray;
    margin: 1em;
    padding: 5px;
}

ul {
    color: greenyellow;
}